:root {
    --background: #D9D9D9;
    font-family: 'Courier Prime', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
    background: var(--background);
}

nav {
    /* use flexbox to create another div in the navbar and give it another color */
    width: 100%;
    background: var(--background);
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    float: left;
}
a {
    padding: 20px;
    width: 100%;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: black;
}

#about {
    height: 1000px;
    margin-left: 10px 0px 10px 0px;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#work {
    margin-left: 10px 0px 10px 0px;
    height: fit-content;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

#contact {
    height: 1000px;
    display: inline-block;
    width:100%;
    vertical-align: top;
}
h1 {
    margin: 100px;
    text-align: left;
    padding: 0;
}

#about-me-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 62px;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.25);
}
#name {
    margin: 0;
    padding:20px;
    /* padding-top: 200px; */
    font-size: 50px;
    text-align: center;
}

#role {
    margin: 0;
    padding: 20px;
    font-size: 22px;
    text-align: center;
}

#description {
    margin: 0;
    padding: 20px;
    width: 45%;
    text-align: center;
    font-size: 18px;
}   

.sectiontitle {
    margin-top: 100px;
    margin-left: 55px;
}

#contact-title {
    margin-top: 100px;
    margin-left: 50px;
}

.workcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0px 0px 100px 0px;
    
}

.work-description {
    width: 400px;
    align-self: flex-start;
    margin: 0px 10px 0px 10px;
    
}

.workimage {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.25);
}

.imagecontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: 0px 10px 0px 10px;
}

.link {
    padding: 0px;
    width: 200px;
    color: green;
    text-align: left;
}



/* Responsiveness */
@media (max-width: 600px) {
    /* Adjustments for screens smaller than 600px */
    body {
      font-size: 14px; /* Decrease font size for readability on small screens */
    }
  
    /* Adjustments for the navigation menu */
    nav ul {
      flex-direction: column; /* Stack the menu items vertically */ 
    }

    /* Adjustments for the about section */
    #about-me-container {
      grid-template-columns: 1fr; /* Display the profile picture and content in a single column */
    }

    #name {
        font-size: 40px;
    }

    #description {
        width: 80%;
    }

    #work {
        /* width: 100%; */
        margin: 10px 0px 10px 0px
    }
    
    .work-description {
        margin-left: 15px;
    }

    /* Adjustments for the work section */
    .workcontainer {
      grid-template-columns: 1fr; /* Display the work content in a single column */
      margin-left: 10px;
    }

    .imagecontainer {
        grid-template-columns: 1fr; /* Display a single column */
        grid-template-rows: auto; /* Reset the rows to auto */
        gap: 10px; /* Adjust the gap between images */
      }

    .workimage {
        width: 100%; /* Set the width of images to 100% of their container */
        height: auto; /* Allow the height to adjust proportionally */
      }
    
  }

  @media (max-width: 330px) {

    #profile-picture {
        margin-top: 124px;
    }

  }