:root{
    --background: #D9D9D9;
    font-family: 'Courier Prime', monospace;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime', monospace;
}
nav{
    /* use flexbox to create another div in the navbar and give it another color */
    width: 100%;
    background: var(--background);
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left;
}
a{
    padding: 20px;
    width: 150px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color: black;
}

#about{
    height: 1000px;
    background: var(--background);
    display: inline-block;
    width: 100%;
}
#work{
    height: 1000px;
    background: var(--background);
    display: inline-block;
    width: 100%;
}
#contact{
    height: 1000px;
    background: var(--background);
    display: inline-block;
    width: 100%;
}
h1{
    margin: 100px;
    text-align: left;
    padding: 0;
}
#about-me-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 62px;
    box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.25);
}
#name{
    margin: 0;
    padding:20px;
    /* padding-top: 200px; */
    font-size: 50px;
}
#role{
    margin: 0;
    padding: 20px;
    font-size: 22px;
}
#description{
    margin: 0;
    padding: 20px;
    width: 550px;
    text-align: center;
    font-size: 18px;
}   